*{
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    margin:0px;
    padding:0px;
    font-family: 'Roboto';font-size: 22px;
}

img{
    float:left;
    padding-right:15px;
    image-orientation: from-image;
}

/*mobile phones*/
[class*="col-"]{
    width:100%;
}

@media only screen and(min-width: 600px){
    /*tablets / >600px)*/
    .col-m-1{width:8.33%;}
    .col-m-2{width:16.66%;}
    .col-m-3{width:25%;}
    .col-m-4{width:33.33%;}
    .col-m-5{width:41.66%;}
    .col-m-6{width:50%;}
    .col-m-7{width:58.33%;}
    .col-m-8{width:66.66%;}
    .col-m-9{width:75%;}
    .col-m-10{width:83.33%;}
    .col-m-11{width:91.66%;}
    .col-m-12{width:100%;}
}

@media only screen and(min-width:768px){
    .col-1{width:8.33%;}
    .col-2{width:16.66%;}
    .col-3{width:25%;}
    .col-4{width:33.33%;}
    .col-5{width:41.66%;}
    .col-6{width:50%;}
    .col-7{width:58.33%;}
    .col-8{width:66.66%;}
    .col-9{width:75%;}
    .col-10{width:83.33%;}
    .col-11{width:91.66%;}
    .col-12{width:100%;}
}

.row:after{
    content:'';
    clear:both;
    display:block;
    margin:0px;
}

.row div{
    float:left;
}

img{
    max-width:100%;
    height:auto;
}
.padding-8{
    padding:8px;
}
.padding-16{
    padding:16px;
}
.padding-32{
    padding:32px;
}
.padding64{
    padding:64px;
}
.padding-128{
    padding:128px;
}

h1{
    font-size:64px;
}

h4{
    font-size:18px;
}

.center{
    text-align:center;
}

table{
    border: 1px solid#ccc;
    width:75%;
    height:100%;
    margin:0;
    padding:0;
    border-collapse: collapse;
    border-spacing: 0;
}

table tr{
    border:1px solid #ddd;
    padding:5px;
}

table th, table td{
    padding:10px;
    text-align:center;
}

table th{
    text-transform: uppercase;
    font-size:14px;
    letter-spacing:1px;
}

@media screen and(max-width:600px){
    table{
        border:0;
    }
    table thead{
        display:none;
    }
    table tr{
        margin-bottom:10px;
        display:block;
        border-bottom:2px solid #ddd;
    }
    table td{
        display:block;
        text-align:right;
        font-size:13px;
        border-bottom:1px dotted #ccc;
    }
    table td:last-child{
        border-bottom:0;
    }
    table td:before{
        content: attr(data-label);
        float:left;
        text-transform: uppercase;
        font-weight:bold;
    }
}

.zoom {
    transition: transform .2s; /* Animation */
    width: 300px;
    height: 300px;
    margin: 10px;
    float:right;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
  }
  
  .zoom:hover {
    transform: scale(1.1);
  }

.ppimg {
        border-radius: 50%;
        padding:20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:black;
    color: white;
    text-align: center;
    font-family: 'Roboto';font-size: 22px;
  }

input[type=text] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Roboto';font-size: 22px;
  }

  input[type=number] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Roboto';font-size: 22px;
  }
  input[type=submit] {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-family: 'Roboto';font-size: 22px;
  }

.header{
    font-size: 72px;
    margin:0px;
    padding:30px;
    font-family: "Myriad Pro", Myriad, "Liberation Sans", "Nimbus Sans L", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: white;
    padding: 10px;
  }
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }